In [1]:
# Dependencies
import pandas as pd

In [3]:
# Read in excel and save each tab as csv file
data = pd.read_excel('Data/Vehicle_Population_Last_updated_04-30-2021.xlsx', sheet_name=None)
for sheet_name, df in data.items():
    df.to_csv(f'Data/{sheet_name}.csv')

In [8]:
# Read in csv files
zip_df = pd.read_csv("Data/ZIP.csv")
zip_df.head()

   Unnamed: 0  Data Year   Fuel Type    ZIP  Number of Vehicles
0           0       2010  Bio Diesel  90010                   3
1           1       2010  Bio Diesel  90019                   1
2           2       2010  Bio Diesel  90047                   1
3           3       2010  Bio Diesel  90058                   1
4           4       2010  Bio Diesel  90063                   1

In [10]:
# Removing columns I don't need
year_df = zip_df[['Data Year', 'Fuel Type', 'ZIP', 'Number of Vehicles']]
year_df.head()

   Data Year   Fuel Type    ZIP  Number of Vehicles
0       2010  Bio Diesel  90010                   3
1       2010  Bio Diesel  90019                   1
2       2010  Bio Diesel  90047                   1
3       2010  Bio Diesel  90058                   1
4       2010  Bio Diesel  90063                   1

In [11]:
# Rename columns
year_df = year_df.rename(columns={'Data Year': 'reg_year', 'Fuel Type': 'fuel_type', "ZIP": "zip_code", "Number of Vehicles": 'no_vehicles'})
year_df.head()

   reg_year   fuel_type  zip_code  no_vehicles
0      2010  Bio Diesel     90010            3
1      2010  Bio Diesel     90019            1
2      2010  Bio Diesel     90047            1
3      2010  Bio Diesel     90058            1
4      2010  Bio Diesel     90063            1

In [16]:
# View and change column data types as needed
year_df.dtypes

reg_year        int64
fuel_type      object
zip_code        int64
no_vehicles     int64
dtype: object

In [14]:
# Create new csv for new data and remove index column
year_df.to_csv('Data/yearly_data.csv', index=False)